<button
  mat-fab
  class="fixed bottom-4 right-4 z-20"
  *ngIf="!sidenav.opened"
  (click)="addUserGroup()"
>
  <mat-icon>add</mat-icon>
</button>

<!-- Close Button: Only visible when sidenav is open -->
<button mat-fab class="fixed bottom-4 right-4 z-20" *ngIf="sidenav.opened" (click)="closeSidebar()">
  <mat-icon>close</mat-icon>
</button>

<mat-sidenav-container class="mat-elevation-z8 h-content w-full">
  <mat-sidenav #sidenav mode="over" position="start">
    <app-user-group-edit
      [allUsers]="allUsers"
      [userGroupId]="userGroupId"
      (submits)="loadUserGroups()"
      (closes)="closeSidebar()"
    ></app-user-group-edit>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Your main content goes here -->
    <div class="mat-elevation-z8 w-full h-content overflow-auto p-4">
      <h1 class="p-4 text-4xl text-primary">Workflow List</h1>
      <table mat-table [dataSource]="dataSource" class="mat-table" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let userGroup">{{ userGroup.name }}</td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let userGroup">{{ userGroup.description }}</td>
        </ng-container>
        <!-- Users Column -->
        <ng-container matColumnDef="users">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Users</th>
          <td mat-cell *matCellDef="let userGroup">
            <div class="flex-col flex py-2">
              <span *ngFor="let user of userGroup.users"
                >-- {{ user.userId | toUsername: allUsers }} : ({{ user.permissions }})
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let userGroup">
            <button mat-button (click)="editUserGroup(userGroup._id)">Edit</button>
            <button mat-button (click)="deleteUserGroup(userGroup._id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
