<head>
  <title>explore</title>
</head>
<body class="flex flex-row text-4xl text-primary">
  <div class="text-center item-center pr-4">
    <span class="block"> welcome back, {{ user?.userName }}</span>
    <span class="block"> some infos statics can be added later </span>
    <span class="block"
      ><app-document-dashboard class="flex" displayMode="largeCards"></app-document-dashboard>
    </span>
  </div>
  <div class="fixed right-0 flex-col p-4 w-1/5">
    <!-- Normal card -->
  </div>
</body>
