<mat-sidenav-container class="w-full h-screen-75">
  <!-- Sidebar -->
  <mat-sidenav mode="side" class="pt-13 w-1/4 h-full fixed" opened>
    <div class="p-4 text-4xl font-bold h-10">Settings</div>
    <mat-nav-list class="mt-6 flex flex-col h-7/8">
      <mat-divider></mat-divider>
      <mat-list-item
        (click)="selectedIndex = 0"
        [class.active]="selectedIndex === 0"
        class="cursor-pointer h-1/5 hover:bg-gray-100 px-4 py-2"
      >
        <div class="flex-row flex justify-between">
          <mat-icon
            class="pt-0 text-blue-800"
            [svgIcon]="'heroicons_outline:user-circle'"
          ></mat-icon>
          <div class="ml-1 text-xs text">
            <div class="font-medium leading-4 text-blue-800">Account</div>
            <div class="text-secondary text-wrap">
              Manage your public profile and private information
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        (click)="selectedIndex = 1"
        [class.active]="selectedIndex === 1"
        class="cursor-pointer h-1/5 hover:bg-gray-100 px-4 py-2"
      >
        <div class="flex-row flex justify-between">
          <mat-icon
            class="pt-0 text-blue-800"
            [svgIcon]="'heroicons_outline:lock-closed'"
          ></mat-icon>
          <div class="ml-1 text-xs">
            <div class="font-medium leading-4 text-blue-800">Security</div>
            <div class="text-secondary text-wrap">
              Manage your password and 2-step verification preferences
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        (click)="selectedIndex = 2"
        [class.active]="selectedIndex === 2"
        class="cursor-pointer h-1/5 hover:bg-gray-100 px-4 py-2"
      >
        <div class="flex-row flex justify-between">
          <mat-icon
            class="pt-0 text-blue-800"
            [svgIcon]="'heroicons_outline:building-office-2'"
          ></mat-icon>
          <div class="ml-1 text-xs">
            <div class="font-medium leading-4 text-blue-800">Organization Units</div>
            <div class="text-secondary text-wrap">
              Manage your company plan, payment method and ...
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item
        (click)="selectedIndex = 3"
        [class.active]="selectedIndex === 3"
        class="cursor-pointer h-1/5 hover:bg-gray-100 px-4 py-2"
      >
        <div class="flex-row flex justify-between">
          <mat-icon class="pt-0 text-blue-800" [svgIcon]="'heroicons_outline:bell'"></mat-icon>
          <div class="ml-1 text-xs">
            <div class="font-medium leading-4 text-blue-800">Notifications</div>
            <div class="text-secondary text-wrap">
              Manage when you'll be notified on which channels
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item
        (click)="selectedIndex = 4"
        [class.active]="selectedIndex === 4"
        class="cursor-pointer h-1/5 hover:bg-gray-100 px-4 py-2"
      >
        <div class="flex-row flex justify-between">
          <mat-icon
            class="pt-0 text-blue-800"
            [svgIcon]="'heroicons_outline:user-group'"
          ></mat-icon>
          <div class="ml-1 text-xs">
            <div class="font-medium leading-4 text-blue-800">Team</div>
            <div class="text-secondary text-wrap">
              Manage your existing team and change roles/permissions
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="overflow-y-auto w-auto flex flex-col pt-10 px-1/12">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="content-section flex flex-col">
      <ng-container *ngIf="selectedIndex === 0">
        <div class="flex flex-col mt-1">
          <h2 class="text-2xl font-bold mb-4">Account</h2>
          <div class="relative flex flex-col items-center mb-6">
            <img
              *ngIf="user?.avatar"
              [src]="user?.avatar"
              alt="avatar"
              class="relative w-40 h-40 rounded-full mb-2 border-4 border-white/50"
            />
            <mat-icon *ngIf="!user?.avatar" class="relative text-6xl w-40 h-40 mb-2">
              account_circle
            </mat-icon>
            <div
              class="absolute h-10 w-10 p-2 bg-blue-800 rounded-full flex items-center justify-center top-3/4 z-20 cursor-pointer hover:bg-accent-color-dark transition duration-150"
            >
              <mat-icon class="text-white" fontIcon="edit" (click)="updateAvatar()"></mat-icon>
            </div>
          </div>

          <div class="mb-4">
            <label for="name" class="block text-gray-700">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <div class="mb-4">
            <label for="username" class="block text-gray-700">Username</label>
            <div class="flex">
              <span
                class="inline-flex items-center text-nowrap px-3 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md"
                >GED-NOVA.com/{{ user?.companyName }}/users/</span
              >
              <input
                type="text"
                id="username"
                formControlName="userName"
                class="w-full px-4 py-2 border rounded-r-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>
          </div>

          <div class="mb-4">
            <label for="email" class="block text-gray-700">Email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex flex-col">
              <label for="language" class="block text-gray-700">Language</label>
              <input
                type="text"
                id="language"
                formControlName="language"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>
            <div class="flex flex-col">
              <label for="title" class="block text-gray-700">Title</label>
              <input
                type="text"
                id="title"
                formControlName="title"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>
            <div class="flex flex-col">
              <label for="country" class="block text-gray-700">Country</label>
              <input
                type="text"
                id="country"
                formControlName="country"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>
            <div class="flex flex-col">
              <label for="phoneNumber" class="block text-gray-700">Phone</label>
              <input
                type="text"
                id="phoneNumber"
                formControlName="phoneNumber"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>
          </div>

          <div class="mb-4">
            <label for="about" class="block text-gray-700">About</label>
            <textarea
              id="about"
              formControlName="about"
              rows="4"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            ></textarea>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedIndex === 1">
        <!-- Security content -->
        <div class="flex flex-col mt-1">
          <h2 class="text-2xl font-bold mb-6">Security</h2>
          <div class="mb-4">
            <mat-checkbox formControlName="setRandomPassword">Set random password.</mat-checkbox>
          </div>
          <div *ngIf="!profileForm.controls.setRandomPassword.value" class="mb-4">
            <label for="password" class="block text-gray-700">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>
          <div *ngIf="!profileForm.controls.setRandomPassword.value" class="mb-4">
            <label for="passwordRepeat" class="block text-gray-700">Password (repeat)</label>
            <input
              type="password"
              id="passwordRepeat"
              formControlName="passwordRepeat"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>
          <div class="mb-4">
            <mat-checkbox formControlName="shouldChangePasswordOnNextLogin">
              Should change password on next login.
            </mat-checkbox>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedIndex === 2">
        <h2 class="text-2xl font-bold mb-6">Organization Units</h2>
      </ng-container>

      <ng-container *ngIf="selectedIndex === 3">
        <h2 class="text-2xl font-bold mb-6">Notifications</h2>
        <!-- Notifications content here -->
      </ng-container>

      <ng-container *ngIf="selectedIndex === 4">
        <h2 class="text-2xl font-bold mb-6">Team</h2>
      </ng-container>

      <div class="flex justify-end items-end">
        <button mat-button type="submit">Save</button>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
