<div
  class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 dark:bg-white"
>
  <div
    class="z-999 relative md:flex md:items-center md:justify-end w-full sm:rounded-2xl md:rounded-none md:shadow-none sm:bg-card"
    [ngClass]="
      environment.isMobile === true
        ? 'md:w-auto md:h-full md:min-w-120'
        : 'sm:w-auto sm:h-full sm:min-w-120'
    "
  >
    <div class="w-full">
      <!-- Wrapper -->
      <div class="flex flex-col flex-auto w-full">
        <!-- Content -->
        <div [@routerAnimation]="getRouteAnimationData()" class="flex flex-col flex-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="environment.isMobile === false"
    class="max-h-screen relative hidden md:flex flex-auto items-center justify-center min-h-screen-safe-area p-8 lg:px-28 overflow-hidden bg-accent dark:border-l"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100% 100%"
      class="svg-bg fixed inset-0 mt-0 ml-0 z-index--1 w-full h-full"
    >
      <path
        fill="#1e88e5"
        d="M153.89 0H0v809.5h415.57C345.477 500.938 240.884 211.874 153.89 0z"
      ></path>
      <path
        fill="#1976d2"
        d="M153.89 0c74.094 180.678 161.088 417.448 228.483 674.517C449.67 506.337 527.063 279.465 592.56 0H153.89z"
      ></path>
      <path
        fill="#1565c0"
        d="M545.962 183.777c-53.796 196.576-111.592 361.156-163.49 490.74 11.7 44.494 22.8 89.49 33.1 134.883h404.07c-71.294-258.468-185.586-483.84-273.68-625.623z"
      ></path>
      <path
        fill="#0d47a1"
        d="M592.66 0c-15 64.092-30.7 125.285-46.598 183.777C634.056 325.56 748.348 550.932 819.642 809.5h419.672C1184.518 593.727 1083.124 290.064 902.637 0H592.66z"
      ></path>
      <path
        fill="#1565c0"
        d="M1144.22 501.538c52.596-134.583 101.492-290.964 134.09-463.343 1.2-6.1 2.3-12.298 3.4-18.497 0-.2.1-.4.1-.6 1.1-6.3 2.3-12.7 3.4-19.098H902.536c105.293 169.28 183.688 343.158 241.684 501.638v-.1z"
      ></path>
      <path
        fill="#1976d2"
        d="M1278.31,38.196C1245.81,209.874 1197.22,365.556 1144.82,499.838L1144.82,503.638C1185.82,615.924 1216.41,720.211 1239.11,809.6L1439.7,810L1439.7,256.768C1379.4,158.78 1321.41,86.288 1278.31,38.195L1278.31,38.196z"
      ></path>
      <path
        fill="#1e88e5"
        d="M1285.31 0c-2.2 12.798-4.5 25.597-6.9 38.195C1321.507 86.39 1379.603 158.98 1440 257.168V0h-154.69z"
      ></path>
    </svg>
    <div class="flex mt-14 items-center z-10 w-full">
      <div class="block px-auto">
        <img
          src="../../../../assets/images/logo/logo.png"
          class="ml-0 mb-2 w-40 h-a"
          alt="ged-nova"
        />

        <div class="z-10 relative w-full max-w-2xl">
          <div class="text-7xl font-bold leading-none text-gray-100">
            <div>Welcome to</div>
            <div>GED</div>
          </div>
          <div class="mt-6 text-lg tracking-tight leading-6 text-gray-300">
            Simplifiez votre flux de travail grâce à notre système GED, transformant la gestion des
            documents scannés en un processus automatisée.
          </div>
          <app-mobile-store-btn></app-mobile-store-btn>
        </div>
      </div>
    </div>
  </div>
</div>
