<div
  class="flex flex-col justify-between w-full min-h-screen bg-slate-50 text-blue-700 md:shadow-lg rounded-lg"
>
  <div class="flex flex-col w-full justify-center mt-18">
    <div class="snap-align-none">
      <span class="text-blue-900 font-bold text-6xl mt-6 ml-6">Reset Password</span>
      <div class="ml-6 font-light mb-1 block mt-2 text-gray-600 text-3xl">
        Enter your new password below
      </div>
    </div>

    <!-- Reset password form -->
    <form class="w-full" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">
      <mat-form-field class="w-full relative">
        <!-- Password field -->
        <input
          id="password"
          class="w-full border-b-2 border-blue-400 bg-blue-50 focus:border-blue-600 outline-none py-2"
          [formControlName]="'password'"
          name="password"
          type="password"
          placeholder="New Password"
          required
        />
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full relative">
        <!-- Confirm password field -->
        <input
          id="confirmPassword"
          class="w-full border-b-2 border-blue-400 bg-blue-50 focus:border-blue-600 outline-none py-2"
          [formControlName]="'confirmPassword'"
          name="confirmPassword"
          type="password"
          placeholder="Confirm Password"
          required
        />
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
          Please confirm your password
        </mat-error>
        <mat-error *ngIf="passwordMismatch"> Passwords do not match </mat-error>
      </mat-form-field>

      <!-- Submit button -->
      <div class="px-4 h-10">
        <button
          class="w-full h-full bg-blue-900 text-white rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          [disabled]="resetPasswordForm.invalid || loading"
          (click)="resetPassword()"
        >
          <span *ngIf="!loading"> Reset Password </span>
          <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
        </button>
      </div>

      <!-- Form footer -->
      <div class="flex justify-center text-gray-600 text-base mt-2 mb-4">
        <span> Return to </span>
        <a class="pl-1 text-blue-900 hover:text-blue-300 cursor-pointer" [routerLink]="['/sign-in']"
          >sign in</a
        >
      </div>
    </form>
  </div>
</div>
