<!-- Loader -->
<div class="absolute inset-x-0 top-0" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div
  class="flex flex-col justify-between w-full min-h-screen bg-slate-50 text-blue-700 md:shadow-lg rounded-lg"
>
  <div class="flex flex-col w-full justify-center mt-18">
    <div class="snap-align-none">
      <span class="text-blue-900 font-bold text-6xl mt-6 ml-6">Login</span>
      <div class="ml-6 font-light mb-1 block mt-2 text-gray-600 text-4xl">With your email</div>
    </div>
  </div>

  <div class="w-full px-5 py-1">
    <form #signInNgForm="ngForm" (ngSubmit)="signIn(signInNgForm)">
      <!-- Email field -->
      <div class="w-full mb-4">
        <input
          id="email"
          class="w-full border-b-2 border-blue-400 bg-blue-50 focus:border-blue-600 outline-none py-2"
          [(ngModel)]="user.email"
          name="email"
          type="email"
          placeholder="Email"
          [disabled]="loading"
          [email]="true"
          required
        />
        <div
          *ngIf="
            signInNgForm.controls['email'] &&
            (signInNgForm.controls['email'].dirty || signInNgForm.submitted)
          "
        >
          <span
            *ngIf="signInNgForm.controls['email'].hasError('email')"
            class="text-red-600 text-sm"
            >The email is not correct</span
          >
          <span
            *ngIf="signInNgForm.controls['email'].hasError('required')"
            class="text-red-600 text-sm"
            >Email is required</span
          >
        </div>
      </div>
      <!-- Password field -->
      <div class="w-full mb-6">
        <div class="relative">
          <input
            id="password"
            class="w-full border-b-2 border-blue-400 bg-blue-50 focus:border-blue-600 outline-none py-2"
            placeholder="Password"
            type="password"
            [(ngModel)]="user.password"
            name="password"
            [disabled]="loading"
            #passwordField
            placeholder="Password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)(?=.*[<>.!@#$%^&*_=+]).{6,20}$"
            maxlength="20"
            required
          />
          <button
            [disabled]="loading"
            type="button"
            (click)="
              passwordField.type === 'password'
                ? (passwordField.type = 'text')
                : (passwordField.type = 'password')
            "
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
          >
            <mat-icon
              class="h-5 w-5 text-gray-400"
              *ngIf="passwordField.type === 'password'"
              [svgIcon]="'heroicons_outline:eye'"
            ></mat-icon>
            <mat-icon
              class="h-5 w-5 text-gray-400"
              *ngIf="passwordField.type === 'text'"
              [svgIcon]="'heroicons_outline:eye-off'"
            ></mat-icon>
          </button>
        </div>
        <div
          *ngIf="
            signInNgForm.controls['password'] &&
            (signInNgForm.controls['password'].dirty || signInNgForm.submitted)
          "
        >
          <span
            *ngIf="signInNgForm.controls['password'].hasError('required')"
            class="text-red-600 text-sm"
            >Password is required</span
          >
          <span
            *ngIf="signInNgForm.controls['password'].hasError('pattern')"
            class="text-red-600 text-sm"
            >Password must contain an upper case character, a lower case character, a number and a
            special character</span
          >
        </div>
      </div>
      <div class="w-full h-18 flex flex-col">
        <a
          class="text-blue-900 hover:text-blue-300 cursor-pointer"
          [routerLink]="['/forgot-password']"
          >Forgot password?</a
        >
        <div class="flex justify-center">
          <mat-checkbox class="mr-2 h-full w-fit" [formControlName]="'rememberMe'">
            Remember me
          </mat-checkbox>
        </div>
      </div>
      <button
        class="w-full bg-blue-900 text-white py-2 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        [disabled]="loading"
        type="submit"
      >
        <span>Login</span>
      </button>
    </form>
  </div>
  <div class="flex justify-center text-gray-600 text-base mt-2 mb-4">
    You don't have an account yet?
    <a class="pl-1 text-blue-900 hover:text-blue-300 cursor-pointer" [routerLink]="['/sign-up']"
      >Sign up here!</a
    >
  </div>
  <hr class="w-full border-gray-300" />
  <div class="flex justify-center text-base text-gray-600 mt-2 mb-4">
    Version {{ environment?.version }}
  </div>
</div>
