<div
  class="flex flex-col justify-between w-full min-h-screen bg-slate-50 text-blue-700 md:shadow-lg rounded-lg"
>
  <div class="flex flex-col w-full justify-center mt-18">
    <div class="snap-align-none">
      <span class="text-blue-900 font-bold text-6xl mt-6 ml-6">Forgot password?</span>
      <div class="ml-6 font-light mb-1 block mt-2 text-gray-600 text-3xl">
        Here! reset your password
      </div>
    </div>
    <!-- Forgot password form -->
    <form class="w-full" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">
      <mat-form-field class="w-full relative">
        <!-- Email field -->
        <input
          id="email"
          class="w-full border-b-2 border-blue-400 bg-blue-50 focus:border-blue-600 outline-none py-2"
          [formControlName]="'email'"
          name="email"
          type="email"
          placeholder="Email"
          [email]="true"
          required
        />
        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
          Email address is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full relative">
        <!-- Company Name field -->
        <input
          id="companyName"
          class="w-full border-b-2 border-blue-400 bg-blue-50 focus:border-blue-600 outline-none py-2"
          [formControlName]="'companyName'"
          name="companyName"
          type="text"
          placeholder="Company Name"
          required
        />
        <mat-error *ngIf="forgotPasswordForm.get('companyName').hasError('required')">
          Company name is required
        </mat-error>
      </mat-form-field>

      <!-- Submit button -->
      <div class="px-4 h-10">
        <button
          class="w-full h-full bg-blue-900 text-white rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          [disabled]="forgotPasswordForm.disabled"
          (click)="sendResetLink()"
        >
          <span *ngIf="!forgotPasswordForm.disabled"> Send reset link </span>
        </button>
      </div>
      <!-- Form footer -->
      <div class="flex justify-center text-gray-600 text-base mt-2 mb-4">
        <span> Return to </span>
        <a class="pl-1 text-blue-900 hover:text-blue-300 cursor-pointer" [routerLink]="['/sign-in']"
          >sign in</a
        >
      </div>
    </form>
  </div>
</div>
