<div class="flex h-7/8">
  <!-- Left Side: Tabs -->
  <div class="lg:w-2/3 sm:w-full">
    <mat-tab-group class="-mt-3" dynamicHeight>
      <mat-tab label="Document Meta-Data">
        <div class="p-8 overflow-y-auto md:h-96 sm:h-full">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <!-- Original Name -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700">Original Name</label>
              <p class="mt-1 text-gray-900 font-semibold">{{ document?.originalName }}</p>
            </div>

            <!-- MIME Type -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700">MIME Type</label>
              <p class="mt-1 text-gray-900 font-semibold">{{ document?.mimeType }}</p>
            </div>

            <!-- Path -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700">Path</label>
              <p class="mt-1 text-gray-900 font-semibold break-words">{{ document?.path }}</p>
            </div>

            <!-- Size -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700">Size</label>
              <p class="mt-1 text-gray-900 font-semibold">{{ document?.size | fileSize }}</p>
            </div>

            <!-- Status -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700">Status</label>
              <p class="mt-1 text-gray-900 font-semibold">{{ document?.status }}</p>
            </div>

            <!-- Upload Date -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700">Upload Date</label>
              <p class="mt-1 text-gray-900 font-semibold">
                {{ document?.statusLog[0].changeDate | date: 'mediumDate' }}
              </p>
            </div>
            <label class="block text-sm font-medium text-gray-700">uploaded By</label>
            <p class="mt-1 text-gray-900 font-semibold">
              {{ document?.statusLog[0].userId }}
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Document Content">
        <div class="p-8 overflow-y-auto md:h-96 sm:h-full">
          <form [formGroup]="documentForm" class="grid grid-cols-2 gap-6">
            <!-- Title -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>

            <!-- Date -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- Order Number -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Order Number</mat-label>
              <input matInput formControlName="orderNumber" />
            </mat-form-field>

            <!-- Store Name -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Store Name</mat-label>
              <input matInput formControlName="storeName" />
            </mat-form-field>

            <!-- Address -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Address</mat-label>
              <textarea matInput formControlName="address" rows="3"></textarea>
            </mat-form-field>

            <!-- Tax Identification Number -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Tax Identification Number</mat-label>
              <input matInput formControlName="tax_identification_number" />
            </mat-form-field>

            <!-- Billed To Section -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Billed To</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Name</mat-label>
                <input matInput formControlName="billed_to_name" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="billed_to_address" rows="3"></textarea>
              </mat-form-field>
            </mat-expansion-panel>

            <!-- Delivery Information Section -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Delivery Information</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Company</mat-label>
                <input matInput formControlName="delivery_company" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Method</mat-label>
                <input matInput formControlName="delivery_method" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Fee</mat-label>
                <input matInput formControlName="delivery_fee" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Currency</mat-label>
                <input matInput formControlName="delivery_currency" />
              </mat-form-field>
            </mat-expansion-panel>

            <!-- Client Type -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Client Type</mat-label>
              <input matInput formControlName="client_type" />
            </mat-form-field>

            <!-- Sale Type -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Sale Type</mat-label>
              <input matInput formControlName="sale_type" />
            </mat-form-field>

            <!-- Items Section -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Items</mat-panel-title>
              </mat-expansion-panel-header>
              <div formArrayName="items">
                <div *ngFor="let item of Array('items'); let i = index" [formGroupName]="i">
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="quantity" type="number" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Unit Price HT</mat-label>
                    <input matInput formControlName="unit_price_ht" type="number" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Unit Price TTC</mat-label>
                    <input matInput formControlName="unit_price_ttc" type="number" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Total Discount</mat-label>
                    <input matInput formControlName="total_discount" type="number" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Item Variation</mat-label>
                    <input matInput formControlName="item_variation" />
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Currency</mat-label>
                    <input matInput formControlName="currency" />
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <!-- Subtotal -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Subtotal</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="subtotal_ht_amount" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Currency</mat-label>
                <input matInput formControlName="subtotal_ht_currency" />
              </mat-form-field>
            </mat-expansion-panel>

            <!-- Tax -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Tax</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Rate</mat-label>
                <input matInput formControlName="tax_rate" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="tax_amount" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Currency</mat-label>
                <input matInput formControlName="tax_currency" />
              </mat-form-field>
            </mat-expansion-panel>

            <!-- Total TTC -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Total TTC</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="total_ttc_amount" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Payment Method</mat-label>
                <input matInput formControlName="total_ttc_payment_method" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Currency</mat-label>
                <input matInput formControlName="total_ttc_currency" />
              </mat-form-field>
            </mat-expansion-panel>

            <!-- Contact Info -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Contact Info</mat-label>
              <textarea matInput formControlName="contact_info" rows="3"></textarea>
            </mat-form-field>

            <!-- SIRET -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>SIRET</mat-label>
              <input matInput formControlName="siret" />
            </mat-form-field>

            <!-- NAF -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>NAF</mat-label>
              <input matInput formControlName="naf" />
            </mat-form-field>

            <!-- TVA -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>TVA</mat-label>
              <input matInput formControlName="tva" />
            </mat-form-field>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Document notes"> </mat-tab>
      <mat-tab label="Document logs" class="p-4 bg-gray-100 rounded-lg shadow-md">
        <div class="mb-4">
          <h4 class="text-lg font-semibold text-gray-700">Status Log:</h4>
        </div>
        <ul class="list-disc pl-5 space-y-2">
          <li
            *ngFor="let log of document.statusLog"
            class="bg-white p-4 rounded-md shadow-sm border border-gray-200"
          >
            <p class="text-gray-900">
              <strong class="font-bold text-blue-600">{{ log.userId }}</strong>
              <span class="text-gray-600"> {{ log.changeType }}ed</span>
              <span class="text-gray-500"> at </span>
              <strong class="font-bold text-gray-800">{{ log.changeDate | date: 'short' }}</strong>
            </p>
          </li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!-- Right Side: Image -->
  <div class="md:w-1/3 sm:hidden md:flex border-1 border-primary border-b-none overflow-auto">
    <img [src]="document?.path" alt="Document Image" class="h-full w-full" />
  </div>
</div>

<!-- Action Buttons -->
<mat-divider></mat-divider>
<div class="flex justify-end pr-1 pt-0.5">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button type="submit">Save</button>
</div>
