<mat-card class="fixed bottom-4 right-4 w-100 h-fit border border-gray-300 rounded-lg p-4">
  <mat-card-header>
    <mat-card-title class="text-lg font-medium">Upload new documents</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div
      class="border-2 border-dashed border-gray-300 rounded-lg py-10 text-center"
      (drop)="onFileDropped($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      [ngClass]="{ 'border-blue-500': isDragging }"
    >
      <p class="text-gray-500">Drop documents anywhere or</p>
      <button mat-stroked-button color="primary" class="mt-2" (click)="fileInput.click()">
        Browse files
      </button>
      <input #fileInput type="file" hidden (change)="onChange($event)" />
    </div>
  </mat-card-content>
</mat-card>

<mat-card
  *ngIf="file && !hideCard"
  class="fixed right-4 w-100 h-fit border border-gray-300 rounded-lg p-4"
>
  <button mat-stroked-button color="primary" (click)="hideDocumentCard()">Hide documents done</button>
  <div class="mt-4 w-90 bg-gray-100 h-24 rounded-lg border border-blue-950">
    <div class="absolute bg-blue-300 rounded-lg h-23" style="width: {{ progress }}px"></div>
    <div class="relative flex flex-row justify-between">
      <div class="flex flex-col text-xl mt-2 w-3/4 text-nowrap max-width-full">
        <span class="relative ml-6 w-3/4 text-nowrap max-width-full">File: {{ file.name | truncateName }}</span>
        <div *ngIf="status === 'uploading'" class="relative ml-6 text-xs text-nowrap flex flex-col items-start">
          <span class="block">Size: {{ loaded | fileSize }}/{{ file.size | fileSize }} </span>
          <span class="block">Uploading...</span>
        </div>
        <button
          *ngIf="status === 'success'"
          mat-stroked-button
          color="primary"
          class="ml-6 p-6 text-xs"
          (click)="openDocument()"
        >
          Open Document
        </button>
      </div>
      <button *ngIf="status === 'success'" mat-icon-button (click)="removeFile()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
