<div
  class="fixed flex items-center justify-center bottom-0 right-0 w-10 h-10 border-1 border-blue-950 shadow-lg rounded-tl-lg z-9999 cursor-pointer bg-transparent print:hidden"
  (click)="setScheme()"
>
  <mat-icon
    *ngIf="scheme === 'light'"
    class="icon-size-5 text-white"
    [svgIcon]="'heroicons_solid:sun'"
  ></mat-icon>
  <mat-icon
    *ngIf="scheme === 'dark'"
    class="icon-size-5 text-white"
    [svgIcon]="'heroicons_solid:moon'"
  ></mat-icon>
  <mat-icon
    *ngIf="scheme === 'auto'"
    class="icon-size-5 text-white"
    [svgIcon]="'brightness_auto'"
  ></mat-icon>
</div>
