.test1 {
  border: 2px solid red;
}
.test2 {
  border: 2px solid blue;
}
.test3 {
  border: 2px solid green;
}
.test4 {
  border: 2px solid yellow;
}
.test5 {
  border: 2px solid purple;
}
.l-s-4 {
  letter-spacing: 4px;
}
.l-s-6 {
  letter-spacing: 6px;
}
.l-s-8 {
  letter-spacing: 8px;
}
.l-h-180 {
  line-height: 180%;
}
.l-h-150 {
  line-height: 150%;
}
.min-h-45 {
  min-height: 45%;
}
.max-h-45 {
  max-height: 45%;
}
