<div
  class="absolute -top-0 -left-0 w-1.5 rounded-bl rounded-tl"
  [ngStyle]="{ 'background-color': getSnackbarColor(), height: '68px' }"
></div>
<div class="snackbar-container flex-row">
  <div>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'primary'">check</mat-icon>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'accent'">info</mat-icon>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'warn'">report_problem</mat-icon>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'basic'"></mat-icon>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'info'">info</mat-icon>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'success'">check_circle</mat-icon>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'warning'">warning</mat-icon>
    <mat-icon class="{{ data.type }}" *ngIf="data.type === 'error'">error</mat-icon>
  </div>
  <div class="flex flex-col">
    <span class="font-bold" [ngClass]="data.type">{{ data.type }} !</span>
    <span class="text-black">{{ data.message }}</span>
  </div>
</div>
