.snackbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    line-height: 20px;
    margin-left: 20px;
    text-align: left;
  }
}

.success {
  color: green !important;
}

.error {
  color: red !important;
}

.warning {
  color: #DF8C32FF !important;
}

.info {
  color: blue !important;
}
